# ─── Server ───────────────────────────────────────────────────────────────────
PORT=3000

# ─── Admin Login (ZAROOR CHANGE KARO) ─────────────────────────────────────────
# Yeh admin ka permanent login hai — website ka owner
ADMIN_USERNAME=kaiser
ADMIN_PASSWORD=admin@kaiser

# ─── Discord Bot (Optional) ───────────────────────────────────────────────────
# Discord bot use karna ho to yeh fill karo, warna khali chhod do
DISCORD_BOT_TOKEN=MTUwMjk3Nzc4MTA2NjEwOTA0OA.G8zg3n.apnBpHCwd-NYRNGsWtn2Dzi5JCMb_2c6d2Gx-U
DISCORD_CLIENT_ID=1502977781066109048
DISCORD_GUILD_ID=1502977781066109048
DISCORD_ADMIN_ID=1242689603371270176
MAX_SLOTS_PER_USER=1
